# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Minecraft Run directories (all loaders)
run/
runs/
**/run/
**/runs/

# Logs, Dumps & Reports
logs/
**/logs/
crash-reports/
**/crash-reports/
usercache.json
**/usercache.json
usernamecache.json
**/usernamecache.json
command_history.txt
**/command_history.txt
**/debug/
*.log

# Minecraft Saves & Chunks
*.mca
*.dat
*.dat_old
*.lock